@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// $c1: #167db9;
$c1: #009688;
$c2: #f7b036;

body,
html {
    padding: 0;
    margin: 0;

    &.is-loading{
        overflow: hidden;
    }
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
    outline: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.fi{
    vertical-align: middle;
    line-height: 1;
}

button {
    cursor: pointer;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left;
}

